PROBLEM STATEMENT

1.Scrape the details of most viewed videos on YouTube from Wikipedia:

Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) View

In [42]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By

#Importing requests
import requests

# importing regex
import re

In [152]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(6)

In [153]:
video_name=[]

name=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]/a")
for i in name:
    if i.text is None :
        video_name.append("--") 
    else:
        video_name.append(i.text)

time.sleep(4)

In [154]:
video_name

['Baby Shark Dance',
 'Despacito',
 'Johny Johny Yes Papa',
 'Shape of You',
 'See You Again',
 'Uptown Funk',
 'Gangnam Style',
 'Sugar',
 'Sorry',
 'Dame Tu Cosita',
 'Roar',
 'Counting Stars',
 'Thinking Out Loud',
 'Dark Horse',
 'Faded',
 'Shake It Off',
 'Lean On',
 'Girls Like You',
 'Bailando',
 'Let Her Go',
 'Mi Gente',
 'Perfect',
 'Waka Waka (This Time for Africa)',
 'Hello',
 'Axel F']

In [155]:
uploader_name=[]
uploader=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]/a")
for i in uploader:
    if i.text is None :
        uploader_name.append("--") 
    else:
        uploader_name.append(i.text)

time.sleep(4)

In [158]:
uploader_name

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Mark Ronson',
 'Cocomelon – Nursery Rhymes',
 'Psy',
 'ChuChu TV',
 'Maroon 5',
 'Justin Bieber',
 'El Chombo',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Katy Perry',
 'Cocomelon – Nursery Rhymes',
 'Alan Walker',
 'Taylor Swift',
 'Major Lazer',
 'Maroon 5',
 'Enrique Iglesias',
 'Passenger',
 'J Balvin',
 'Ed Sheeran',
 'Shakira',
 'Adele',
 'Crazy Frog']

In [156]:
views=[]
view=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]")
for i in view:
    if i.text is None :
        views.append("--") 
    else:
        views.append(i.text)

time.sleep(4)

In [159]:
views

['8.81',
 '7.40',
 '5.47',
 '5.35',
 '5.14',
 '4.44',
 '4.20',
 '4.16',
 '4.16',
 '4.09',
 '3.93',
 '3.49',
 '3.44',
 '3.39',
 '3.37',
 '3.32',
 '3.27',
 '3.09',
 '3.08',
 '3.08',
 '3.07',
 '3.05',
 '3.05',
 '3.05',
 '3.01',
 '2.93',
 '2.87',
 '2.85',
 '2.85',
 '2.84']

In [157]:
upload_date=[]
date=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]")
for i in date:
    if i.text is None :
        upload_date.append("--") 
    else:
        upload_date.append(i.text)

time.sleep(4)

In [160]:
upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'January 31, 2012',
 'November 19, 2014',
 'May 2, 2018',
 'February 27, 2018',
 'July 15, 2012',
 'March 6, 2014',
 'January 14, 2015',
 'October 22, 2015',
 'April 5, 2018',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'February 20, 2014',
 'May 24, 2018',
 'December 3, 2015',
 'August 18, 2014',
 'March 22, 2015',
 'May 31, 2018',
 'April 11, 2014',
 'July 25, 2012',
 'June 29, 2017',
 'November 9, 2017',
 'June 4, 2010',
 'October 22, 2015',
 'June 16, 2009']

In [161]:
print(len(video_name))
print(len(uploader_name))
print(len(views))
print(len(upload_date))

25
27
30
30

In [ ]:
youtube=pd.DataFrame({})
youtube['Name'] =video_name
youtube['Maker'] =uploader_name
youtube['Views in Billion'] = views
youtube['Upload Date'] = upload_date


youtube

In [ ]:
driver.close()

PROBELM STATEMENT:

2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
    
You need to find following details:
    
A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [162]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(6)

In [ ]:
# clicking the fixture button
search_button=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
search_button.click()

In [164]:
match_title=[]
title=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in title:
    if i.text is None :
        match_title.append("--") 
    else:
        match_title.append(i.text)

time.sleep(4)

In [165]:
match_title

['ICC WORLD TEST CHAMPIONSHIP',
 'SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [168]:
dates=[]
date=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in date:
    if i.text is None :
        dates.append("--") 
    else:
        dates.append(i.text)

time.sleep(4)

In [169]:
dates

['', '', '', '', '', '', '', '', '', '', '', '']

In [170]:
place=[]
places=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in places:
    if i.text is None :
        place.append("--") 
    else:
        place.append(i.text)

time.sleep(4)

In [171]:
place

['Final',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '5th Test']

In [181]:
series=[]
series_ind=driver.find_elements_by_xpath("//p[@class='fixture__team-name']")
for i in series_ind:
    if i.text is None :
        series.append("--") 
    else:
        series.append(i.text)

time.sleep(4)

In [182]:
print(len(series))

24

In [183]:
#using slicing
serial = slice(0,24,2)
team1 = series[serial] 
team1

['INDIA',
 'SRI LANKA',
 'SRI LANKA',
 'SRI LANKA',
 'SRI LANKA',
 'SRI LANKA',
 'SRI LANKA',
 'ENGLAND',
 'ENGLAND',
 'ENGLAND',
 'ENGLAND',
 'ENGLAND']

In [184]:
#using slicing
serials = slice(1,24,2)
team2 = series[serials] 
team2

['NEW ZEALAND',
 'INDIA',
 'INDIA',
 'INDIA',
 'INDIA',
 'INDIA',
 'INDIA',
 'INDIA',
 'INDIA',
 'INDIA',
 'INDIA',
 'INDIA']

In [185]:
bcci=pd.DataFrame({})
bcci['Match Title'] = match_title
bcci['Date'] = dates
bcci['Match'] = place
bcci['Team1'] = team1
bcci['Team2'] = team2

bcci

                    Match Title Date     Match      Team1        Team2
0   ICC WORLD TEST CHAMPIONSHIP          Final      INDIA  NEW ZEALAND
1        SRI LANKA V INDIA 2021        1st ODI  SRI LANKA        INDIA
2        SRI LANKA V INDIA 2021        2nd ODI  SRI LANKA        INDIA
3        SRI LANKA V INDIA 2021        3rd ODI  SRI LANKA        INDIA
4        SRI LANKA V INDIA 2021       1st T20I  SRI LANKA        INDIA
5        SRI LANKA V INDIA 2021       2nd T20I  SRI LANKA        INDIA
6        SRI LANKA V INDIA 2021       3rd T20I  SRI LANKA        INDIA
7          ENGLAND V INDIA 2021       1st Test    ENGLAND        INDIA
8          ENGLAND V INDIA 2021       2nd Test    ENGLAND        INDIA
9          ENGLAND V INDIA 2021       3rd Test    ENGLAND        INDIA
10         ENGLAND V INDIA 2021       4th Test    ENGLAND        INDIA
11         ENGLAND V INDIA 2021       5th Test    ENGLAND        INDIA

In [ ]:
driver.close()

PROBLEM STATEMENT:

Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [186]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.guru99.com/"
driver.get(url)
time.sleep(6)

In [187]:
# clicking the selenium button
search_button=driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a")
search_button.click()

In [188]:
# clicking the selenium exception button
search_button=driver.find_element_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a")
search_button.click()

In [193]:
exception_name=[]
name=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td")
for i in name:
    if i.text is None :
        exception_name.append("--") 
    else:
        exception_name.append(i.text)

time.sleep(4)

In [194]:
print(len(exception_name))

84

In [195]:
#using slicing
name = slice(0,85,2)
names = exception_name[name] 
names

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [197]:
#using slicing
definition = slice(1,85,2)
definitions= exception_name[definition] 
definitions

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [199]:
guru99=pd.DataFrame({})
guru99['Name'] = names
guru99['Description'] = definitions

guru99

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [200]:
driver.close()

PROBLEM STATEMENT:

Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:
A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)


F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [201]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = " http://statisticstimes.com/"
driver.get(url)
time.sleep(6)

In [ ]:
delay = 10
WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.CLASS_NAME,"dropdown-content")))
element = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
element.click()

In [202]:
states=[]
state=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
for i in state:
    if i.text is None :
        states.append("--") 
    else:
        states.append(i.text)

time.sleep(4)

In [203]:
states

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [204]:
gsdp_first=[]
gsdp=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
for i in gsdp:
    if i.text is None :
        gsdp_first.append("--") 
    else:
        gsdp_first.append(i.text)

time.sleep(4)

In [205]:
gsdp_first

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [206]:
gsdp_second=[]
gsdp=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in gsdp:
    if i.text is None :
        gsdp_second.append("--") 
    else:
        gsdp_second.append(i.text)

time.sleep(4)

In [207]:
gsdp_second

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [208]:
share=[]
shares=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
for i in shares:
    if i.text is None :
        share.append("--") 
    else:
        share.append(i.text)

time.sleep(4)

In [209]:
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [210]:
gdp=[]
gdps=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
for i in gdps:
    if i.text is None :
        gdp.append("--") 
    else:
        gdp.append(i.text)

time.sleep(4)

In [211]:
gdp

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [212]:
GDP=pd.DataFrame({})
GDP['State'] = states
GDP['GSDP 1'] = gsdp_first
GDP['GSDP 2'] = gsdp_second
GDP['Shares'] = share
GDP['GDP'] = gdp
GDP

                        State     GSDP 1     GSDP 2  Shares     GDP
0                 Maharashtra          -  2,632,792  13.94%  13.94%
1                  Tamil Nadu  1,845,853  1,630,208   8.63%   8.63%
2               Uttar Pradesh  1,687,818  1,584,764   8.39%   8.39%
3                     Gujarat          -  1,502,899   7.96%   7.96%
4                   Karnataka  1,631,977  1,493,127   7.91%   7.91%
5                 West Bengal  1,253,832  1,089,898   5.77%   5.77%
6                   Rajasthan  1,020,989    942,586   4.99%   4.99%
7              Andhra Pradesh    972,782    862,957   4.57%   4.57%
8                   Telangana    969,604    861,031   4.56%   4.56%
9              Madhya Pradesh    906,672    809,592   4.29%   4.29%
10                     Kerala          -    781,653   4.14%   4.14%
11                      Delhi    856,112    774,870   4.10%   4.10%
12                    Haryana    831,610    734,163   3.89%   3.89%
13                      Bihar    611,804    530,363   2.81%   2.81%
14                     Punjab    574,760    526,376   2.79%   2.79%
15                     Odisha    521,275    487,805   2.58%   2.58%
16                      Assam          -    315,881   1.67%   1.67%
17               Chhattisgarh    329,180    304,063   1.61%   1.61%
18                  Jharkhand    328,598    297,204   1.57%   1.57%
19                Uttarakhand          -    245,895   1.30%   1.30%
20            Jammu & Kashmir          -    155,956   0.83%   0.83%
21           Himachal Pradesh    165,472    153,845   0.81%   0.81%
22                        Goa     80,449     73,170   0.39%   0.39%
23                    Tripura     55,984     49,845   0.26%   0.26%
24                 Chandigarh          -     42,114   0.22%   0.22%
25                 Puducherry     38,253     34,433   0.18%   0.18%
26                  Meghalaya     36,572     33,481   0.18%   0.18%
27                     Sikkim     32,496     28,723   0.15%   0.15%
28                    Manipur     31,790     27,870   0.15%   0.15%
29                   Nagaland          -     27,283   0.14%   0.14%
30          Arunachal Pradesh          -     24,603   0.13%   0.13%
31                    Mizoram     26,503     22,287   0.12%   0.12%
32  Andaman & Nicobar Islands          -          -       -       -

In [213]:
driver.close()

PROBLEM STATEMENT:

5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [214]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://github.com/"
driver.get(url)
time.sleep(6)

In [ ]:
delay = 10
WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.CLASS_NAME,"py-2 lh-condensed-ultra d-block Link--secondary no-underline f5 Bump-link--hover")))
element = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
element

In [215]:
repo_title=[]
repo=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a/span")
for i in repo:
    if i.text is None :
        repo_title.append("--") 
    else:
        repo_title.append(i.text)

time.sleep(4)

In [225]:
print(len(repo_title))

25

In [217]:
repo_desc=[]
repo=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
for i in repo:
    if i.text is None :
        repo_desc.append("--") 
    else:
        repo_desc.append(i.text)

time.sleep(4)

In [230]:
print(len(repo_desc))

25

In [229]:
repo_desc.insert(3, '-')

In [219]:
lang_used=[]
lang=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/span[1]/span[2]")
for i in lang:
    if i.text is None :
        lang_used.append("--") 
    else:
        lang_used.append(i.text)

time.sleep(4)

In [233]:
print(len(lang_used))

25

In [231]:
lang_used.insert(6, "-")

In [232]:
lang_used.insert(8, "-")

In [221]:
contri_count=[]
count=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[1]")
for i in count:
    if i.text is None :
        contri_count.append("--") 
    else:
        contri_count.append(i.text)

time.sleep(4)

In [228]:
print(len(contri_count))

25

In [234]:
Github=pd.DataFrame({})
Github['Repository Name'] = repo_title
Github['Repository Description'] = repo_desc
Github['Language'] = lang_used
Github['Contributer Count'] = contri_count

Github

,Repository Name,Repository Description,Language,Contributer Count
0,programthink /,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,Python,"8,247"
1,AkashSingh3031 /,This repository contains all the DSA (Data-Str...,Jupyter Notebook,"1,765"
2,CaffeineMC /,A Fabric mod designed to improve frame rates a...,Java,"1,697"
3,n8n-io /,-,TypeScript,"14,915"
4,facebookresearch /,Free and open fair-code licensed node based Wo...,Python,"1,790"
5,vxunderground /,"A data augmentations library for audio, image,...",Assembly,"5,701"
6,abuanwar072 /,Collection of malware source code for a variet...,-,"2,840"
7,EssayKillerBrain /,Responsive Admin Panel or Dashboard using Flutter,Dart,"2,585"
8,organicmaps /,基于开源GPT2.0的初代创作型人工智能 | 可扩展、可进化,-,"1,429"
9,rustdesk /,"🍃 Organic Maps is a better fork of MAPS.ME, an...",Python,"6,890"
10,algorithm-visualizer /,Yet another remote desktop software,C++,"34,135"
11,academic /,🎆Interactive Online Platform that Visualizes A...,Rust,"16,331"
12,megaease /,📝 An awesome Data Science repository to learn ...,JavaScript,"2,284"
13,TheBobPony /,A Cloud Native traffic orchestration system,Go,55
14,donnemartin /,Mirrors to download the leaked Windows 11 build.,HTML,"135,701"
15,kwai /,Learn how to design large-scale systems. Prep ...,Python,555
16,programthink /,[ICML 2021] DouZero: Mastering DouDizhu with S...,Python,"3,920"
17,facebookresearch /,【编程随想】收藏的开源项目清单,Python,224
18,githubdev03 /,Official code Cross-Covariance Image Transform...,Batchfile,43
19,tailwindlabs /,A utility-first CSS framework for rapid UI dev...,JavaScript,"43,413"
20,coqui-ai /,🐸💬 - a deep learning toolkit for Text-to-Speec...,Jupyter Notebook,"1,717"
21,v2fly /,A platform for building proxies to bypass netw...,Go,"9,691"
22,nothings /,stb single-file public domain libraries for C/C++,C,"15,867"
23,mltframework /,"cross-platform (Qt), open-source (GPLv3) video...",C++,"4,426"
24,flutter /,Flutter makes it easy and fast to build beauti...,Dart,"122,469"

In [235]:
driver.close()

PROBLEM STATEMENT:

Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/

You have to find the following details:
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [236]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = " https://www.billboard.com/"
driver.get(url)
time.sleep(6)

In [ ]:
# clicking the fixture button
search_button=driver.find_element_by_xpath("//*[@id='menu-charts-desktop']/span/span/span[1]/ul/li[1]/a")
search_button.click()
time.sleep(6)

In [237]:
song_name=[]
song=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li/button/span[2]/span[1]")
for i in song:
    if i.text is None :
        song_name.append("--") 
    else:
        song_name.append(i.text)

time.sleep(4)

In [238]:
print(len(song_name))

100

In [239]:
artist_name=[]
artist=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li/button/span[2]/span[2]")
for i in artist:
    if i.text is None :
        artist_name.append("--") 
    else:
        artist_name.append(i.text)

time.sleep(4)

In [240]:
print(len(artist_name))

100

In [241]:
lw_rank=[]
rank=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li/button/div/div[1]")
for i in rank:
    if i.text is None :
        lw_rank.append("--") 
    else:
        lw_rank.append(i.text)

time.sleep(4)

In [242]:
print(len(lw_rank))

100

In [243]:
pk_rank=[]
rank=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li/button/div/div[2]")
for i in rank:
    if i.text is None :
        pk_rank.append("--") 
    else:
        pk_rank.append(i.text)

time.sleep(4)

In [244]:
print(len(pk_rank))

100

In [245]:
no_week=[]
week=driver.find_elements_by_xpath("//*[@id='charts']/div/div[7]/div/ol/li/button/div/div[3]")
for i in week:
    if i.text is None :
        no_week.append("--") 
    else:
        no_week.append(i.text)

time.sleep(4)

In [246]:
print(len(no_week))

100

In [247]:
board=pd.DataFrame({})
board['Song'] = song_name
board['Artist'] = artist_name
board['Last week Rank'] = lw_rank
board['Peak Rank'] = pk_rank
board['Week on Chart'] = no_week

board

,Song,Artist,Last week Rank,Peak Rank,Week on Chart
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,,2,1
2,Levitating,Dua Lipa Featuring DaBaby,,3,2
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,,93,93
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,,-,99
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

In [248]:
driver.close()

PROBLEM STATEMENT:

Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/
    
You have to find the following details:
A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through cod

In [249]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

In [250]:
# clicking the fixture button
search_button=driver.find_element_by_xpath("//*[@id='root']/div[1]/div/ul[1]/li[2]/a/div")
search_button.click()
time.sleep(6)

In [ ]:
search_bar = driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div/span/div/div/input")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys('Data Science')                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')       # Locating search_button by xpath
search_button.click()

In [101]:
names=[]
name=driver.find_elements_by_xpath("//*[@id='tabP-1']/div[1]/div[1]/div[1]/div[1]/p/a[1]/span")
for i in name:
    if i.text is None :
        names.append("--") 
    else:
        names.append(i.text)

time.sleep(4)

In [102]:
names

[]

Problem Statement:

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [251]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = " https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)

In [252]:
names=[]
name=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in name:
    if i.text is None :
        names.append("--") 
    else:
        names.append(i.text)

time.sleep(4)

In [253]:
print(len(names))

100

In [254]:
author=[]
authors=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in authors:
    if i.text is None :
        author.append("--") 
    else:
        author.append(i.text)

time.sleep(4)

In [258]:
print(len(author))

100

In [256]:
vol_sale=[]
sale=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in sale:
    if i.text is None :
        vol_sale.append("--") 
    else:
        vol_sale.append(i.text)

time.sleep(4)

In [257]:
print(len(vol_sale))

100

In [259]:
publisher=[]
publishers=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in publishers:
    if i.text is None :
        publisher.append("--") 
    else:
        publisher.append(i.text)

time.sleep(4)

In [261]:
print(len(publisher))

100

In [262]:
genre=[]
genres=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in genres:
    if i.text is None :
        genre.append("--") 
    else:
        genre.append(i.text)

time.sleep(4)

In [263]:
print(len(genre))

100

In [264]:
books=pd.DataFrame({})
books['Book Name'] = names
books['author'] = author
books['Volume in Sales'] = vol_sale
books['Publisher'] = publisher
books['Genre'] = genre
books

,Book Name,author,Volume in Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [265]:
driver.close()

PROBLEM STATEMENT:

Scrape the details most watched tv series of all time from imdb.com.

 Url = https://www.imdb.com/list/ls095964455/
        
You have to find the following details:
    
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [266]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = " https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(6)

In [267]:
names=[]
name=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/h3/a")
for i in name:
    if i.text is None :
        names.append("--") 
    else:
        names.append(i.text)

time.sleep(4)

In [268]:
print(len(names))

100

In [269]:
genre=[]
genres=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/p[1]/span[5]")
for i in genres:
    if i.text is None :
        genre.append("--") 
    else:
        genre.append(i.text)

time.sleep(4)

In [270]:
print(len(genre))

100

In [271]:
rating=[]
ratings=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/div[1]/div[1]/span[2]")
for i in ratings:
    if i.text is None :
        rating.append("--") 
    else:
        rating.append(i.text)

time.sleep(4)

In [272]:
print(len(rating))

100

In [273]:
vote=[]
votes=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div/div/div[2]/p[4]/span[2]")
for i in votes:
    if i.text is None :
        vote.append("--") 
    else:
        vote.append(i.text)

time.sleep(4)

In [274]:
print(len(vote))

100

In [275]:
runtime=[]
runtimes=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/p[1]/span[3]")
for i in runtimes:
    if i.text is None :
        runtime.append("--") 
    else:
        runtime.append(i.text)

time.sleep(4)

In [276]:
print(len(runtime))

100

In [277]:
film=pd.DataFrame({})
film['Film Name'] = names
film['Genre'] = genre
film['Ratings'] = rating
film['Vote'] = vote
film['Runtime'] = runtime
film

,Film Name,Genre,Ratings,Vote,Runtime
0,Game of Thrones,"Action, Adventure, Drama",9.3,"1,825,514",57 min
1,Stranger Things,"Drama, Fantasy, Horror",8.7,"865,510",51 min
2,The Walking Dead,"Drama, Horror, Thriller",8.2,"875,311",44 min
3,13 Reasons Why,"Drama, Mystery, Thriller",7.6,"262,975",60 min
4,The 100,"Drama, Mystery, Sci-Fi",7.6,"224,377",43 min
...,...,...,...,...,...
95,Reign,"Drama, Fantasy",7.5,"44,603",42 min
96,A Series of Unfortunate Events,"Adventure, Comedy, Drama",7.8,"55,118",50 min
97,Criminal Minds,"Crime, Drama, Mystery",8,"168,100",42 min
98,Scream: The TV Series,"Comedy, Crime, Drama",7.1,"34,926",45 min
99,The Haunting of Hill House,"Drama, Horror, Mystery",8.6,"191,806",572 min

In [278]:
driver.close()

Problem statement:

Details of Datasets from UCI machine learning repositories.

 Url = https://archive.ics.uci.edu/
        
 You have to find the following details:
    
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code

In [279]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(6)

In [280]:
# clicking the selenium exception button
search_button=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a")
search_button.click()

In [281]:
dataset=[]
datasets=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td[2]/p/b/a")
for i in datasets:
    if i.text is None :
        dataset.append("--") 
    else:
        dataset.append(i.text)

time.sleep(4)

In [293]:
dataset.insert(22, '-')

In [294]:
print(len(dataset))

589

In [283]:
data_type=[]
data=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr/td[2]/p")
for i in data:
    if i.text is None :
        data_type.append("--") 
    else:
        data_type.append(i.text)

time.sleep(4)

In [284]:
print(len(data_type))

589

In [285]:
task=[]
tasks=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr/td[3]/p")
for i in tasks:
    if i.text is None :
        task.append("--") 
    else:
        task.append(i.text)

time.sleep(4)

In [286]:
print(len(task))

589

In [287]:
attribute=[]
attributes=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr/td[4]/p")
for i in attributes:
    if i.text is None :
        attribute.append("--") 
    else:
        attribute.append(i.text)

time.sleep(4)

In [288]:
print(len(attribute))

589

In [289]:
instance=[]
instances=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr/td[5]/p")
for i in instances:
    if i.text is None :
        instance.append("--") 
    else:
        instance.append(i.text)

time.sleep(4)

In [290]:
print(len(instance))

589

In [291]:
year=[]
years=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr/td[7]/p")
for i in years:
    if i.text is None :
        year.append("--") 
    else:
        year.append(i.text)

time.sleep(4)

In [292]:
print(len(year))

589

In [295]:
UCI=pd.DataFrame({})
UCI['Dataset'] = dataset
UCI['Data Types'] = data_type
UCI['Default Task'] = task
UCI['Attribut Types'] = attribute
UCI['Instances'] = instance
UCI['Year'] = year

UCI

,Dataset,Data Types,Default Task,Attribut Types,Instances,Year
0,Abalone,Data Types,Default Task,Attribute Types,# Instances,Year
1,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,1995
2,Annealing,Multivariate,Classification,"Categorical, Integer",48842,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,
4,Arrhythmia,,Recommender-Systems,Categorical,37711,1998
...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,2020
585,Gait Classification,Multivariate,Classification,Real,48,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,2021

In [296]:
driver.close()